<p>actializa-component works!</p>
<form class="form-group row">
  <div class="form-group col">
    <label for="nombre">
      Nombre:
    </label>
    <input type="text" name="nombre" id="nombre" placeholder="Nombre" class="form-control" [(ngModel)]="cuadroNombre" >

    <div class="form-group col">
      <label for="apellido">
        Apellido:
      </label>
      <input type="text" name="apellido" id="apellido" placeholder="apellido" class="form-control" [(ngModel)]="cuadroApellido" >
    </div>

    <div class="form-group col">
      <label for="cargo">
        Cargo:
      </label>
      <input type="text" name="cargo" id="cargo" placeholder="cargo" class="form-control" [(ngModel)]="cuadroCargo" >
    </div>

    <div class="form-group col">
      <label for="salario">
        Salario:
      </label>
      <input type="text" name="salario" id="salario" placeholder="salario" class="form-control" [(ngModel)]="cuadroSalario" >
    </div>
    <br>
    <br>
    <div class="col">
      <button type="submit" class="btn btn-primary" (click)="agregarCliente()">Agregar clientes</button>
    </div>

  </div>

</form>
